/*tm
Niveles de importancia en la jerarquia
1. !important
2. atributo style

Selectores
3. Selector por ID -> id="" , #
4. Selector de clase, atributos y pseudoclases
5. Selectores de tipo y pseudo elementos
*/

/*Todo*/
html{
    font-family: 'Edu SA Beginner', cursive;
}

/*Contendo general*/
.container{
    background: #000000;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh; /*vh: viewport height altura, viewport width anchura*/
}

/*Barra de navegación*/

.navegation{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 57%, rgba(255,49,49,1) 100%);

    padding: 10px;
}

.navegation-link{

    /*Colores*/
    display: inline-block;
    background: #000000;
    color: #fff;

    /**/
    padding: 9px 30px;

    /**/
    text-decoration: none;
}

.navegation-link:hover{
    background-color: rgba(255,49,49,1);
}

.encabezado{
    color: #fff;
}

.encabezado{
    animation: fadeInLeft 1s;
}

.introduction-text{
    color: #fff;
    
}