*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/**/
body{
    font-family: 'Montserrat', sans-serif;
}

/**/
a{
    text-decoration: none; /*Controlar la linea referenciada*/
    color: #fff;
}


/**/
.padre{
    display: flex;
    flex-flow: column nowrap;
}

    /**/
    .header{
        background: url(../images/fondo3.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;

        display: flex;
        flex-flow: column nowrap;
    }

        /**/
        .menu{
           /* background: #4C3A51;
            background: rgb(76, 58, 81);*/
            background: rgba(0, 0, 0, .1);

            display: flex;
            flex-flow: row nowrap;

            height: 60px;

            align-items: center;

            border-bottom: 1px solid rgba(255, 255, 255, .5);
        }

            /**/
            .logo{
                /*background: #774360;
                background: rgb(119, 67, 96);*/

                flex: 1 1 auto;

                /*height: 30px;*/

                
            }
                .logo a{
                    color: #fff;
                    font-size: 30px;
                    font-family: bold;
                }
                .logo a:hover{
                    /*background-color: purple;*/
                    color: yellow;
                }

            /**/
            .nav{
                /*background: #774360;
                background: rgb(119, 67, 96);*/

                flex: 1 1 auto;

                /*height: 30px;*/
            }
                .nav a{
                    color: #fff;
                    font-family: bold;
                }
                .nav a:hover{
                    /*background-color: purple;*/
                    color: yellow;
                }

            /**/
            .social{
                /*background: #774360;
                background: rgb(119, 67, 96);*/

                display: flex;
                flex: 1 1 auto;

                /*height: 30px;*/
            }
                .social a{
                    color: #fff;
                    font-family: bold;
                    font-size: 18px;
                    padding: 0 5px;
                }
                .social a:hover{
                    /*background-color: purple;*/
                    color: yellow;
                }
        
        /**/
        .texto-principal{
            /*background: #B25068;
            background: rgb(178, 80, 104);*/

            height: 580px;
            
            display: flex;
            align-items: center;
        }

            /**/
            h1{
                /*background: #E7AB79;
                background: rgb(231, 171, 121);*/

                font-family: 'Lora', serif;
                font-size: 21px;
                font-weight: 300px;

                color: #fff;

                text-align: center;

                line-height: 1.6;
            }

    /**/
    .section{
        background: #000;

        display: flex;
    }

        /**/
        .articulos{
            /*background: #3D0000;
            background: rgb(61, 0, 0);*/
            background: #000;

            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;            

        }

            /**/
            .article{
                /*background: #FF0000;
                background: rgb(255, 0, 0);*/

                flex: 1 1 40%;
                color: #fff;

                font-size: 13px;

                letter-spacing: 1px;

                margin: 10px 10px 0 0;

                flex: 1 1 45%;

                background: rgb(27, 26, 26);
            }

                .article img{
                    width: 100%;
                }   

                h3{
                    color: #810955;
                    font-size: 13px;
                    padding: 10px 0;
                    margin-top: -80px;   
                }

                h2{
                    font-size: 20px;
                    text-transform: uppercase;
                    padding: 0px 0 10px 0;
                    color: #810955;
                }

            /**/
            .navegacion{
                background: #E7AB79;
                background: rgb(231, 171, 121);
                
                flex: 1 1 100%;
            }

        /**/
        .aside{
            background: #371B58;
            background: rgb(55, 27, 88);

            flex: 1 1 auto;
        }

            /**/
            .publicidad{
                background: #4C3575;
                background: rgb(76, 53, 117);
            }

    /**/
    .footer{
        background: #000;

        display: flex;

        justify-content: center;
    }

        /**/
        .pie{
            background: #810955;
            background: rgb(129, 9, 85);

            width: 300px;

        }

/**/
@media all and (max-width:800px) {
    /**/
    .section{
        flex-direction: column;
    }
    /**/
    .menu{
        flex-direction: column;
        height: auto;
    }
    /**/
    .aside{
        display: flex;
        
        justify-content: center;
    }
}

/**/
@media all and (max-width:600px) {
    .articulos{
        flex-direction: column;
    }   
}

/**/
@media all and (max-width:400px) {
    .aside{
        flex-direction: column;
    }
}

.img-comida, .img-persona{
    max-width: 280px;
    max-height: 500px;
}