*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/**/
.padre{
    display: flex;
    flex-flow: column nowrap;
}

    /**/
    .header{
        background: #000;

        display: flex;
        flex-flow: column nowrap;
    }

        /**/
        .menu{
            background: #4C3A51;
            background: rgb(76, 58, 81);

            display: flex;
            flex-flow: row nowrap;

            height: 100px;

            align-items: center;
        }

            /**/
            .logo{
                background: #774360;
                background: rgb(119, 67, 96);

                flex: 1 1 auto;

                height: 30px;
            }

            /**/
            .nav{
                background: #774360;
                background: rgb(119, 67, 96);

                flex: 1 1 auto;

                height: 30px;
            }

            /**/
            .social{
                background: #774360;
                background: rgb(119, 67, 96);

                flex: 1 1 auto;

                height: 30px;
            }
        
        /**/
        .texto-principal{
            background: #B25068;
            background: rgb(178, 80, 104);
        }

            /**/
            h1{
                background: #E7AB79;
                background: rgb(231, 171, 121);
            }

    /**/
    .section{
        background: #000;

        display: flex;
    }

        /**/
        .articulos{
            background: #3D0000;
            background: rgb(61, 0, 0);

            display: flex;
            flex: 2 1 auto;
            flex-flow: row wrap;

        }

            /**/
            .article{
                background: #FF0000;
                background: rgb(255, 0, 0);

                flex: 1 1 40%;
            }

            /**/
            .navegacion{
                background: #E7AB79;
                background: rgb(231, 171, 121);
                
                flex: 1 1 100%;
            }

        /**/
        .aside{
            background: #371B58;
            background: rgb(55, 27, 88);

            flex: 1 1 auto;
        }

            /**/
            .publicidad{
                background: #4C3575;
                background: rgb(76, 53, 117);
            }

    /**/
    .footer{
        background: #000;

        display: flex;

        justify-content: center;
    }

        /**/
        .pie{
            background: #810955;
            background: rgb(129, 9, 85);

            width: 300px;

        }

/**/
@media all and (max-width:800px) {
    /**/
    .section{
        flex-direction: column;
    }
    /**/
    .menu{
        flex-direction: column;
        height: auto;
    }
    /**/
    .aside{
        display: flex;
        
        justify-content: center;
    }
}

/**/
@media all and (max-width:600px) {
    .articulos{
        flex-direction: column;
    }   
}

/**/
@media all and (max-width:400px) {
    .aside{
        flex-direction: column;
    }
}