html{
    font-family: 'Edu SA Beginner', cursive;
}

.container{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh; /*vh: viewport height altura, viewport width anchura*/

    /*centrar la caja, el contexto de "align-item y justify-content" suele cambiar en su alineación dependiendo del contexto*/
    display: flex; 
    align-items: center;
    justify-content: center;
}

.content{
    max-width: 960px;
    max-height: 500px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    
}

td{
    border: solid 1px;
}

a{
    text-decoration: none; /*Controlar la linea referenciada*/
}