/*
Niveles de importancia en la jerarquia
1. !important
2. atributo style

Selectores
3. Selector por ID -> id="" , #
4. Selector de clase, atributos y pseudoclases
5. Selectores de tipo y pseudo elementos
*/

html{
    font-family: 'Edu SA Beginner', cursive;
}

.container{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh; /*vh: viewport height altura, viewport width anchura*/

    /*centrar la caja, el contexto de "align-item y justify-content" suele cambiar en su alineación dependiendo del contexto*/
    display: flex; 
    align-items: center;
    justify-content: center;
    
}

.content{
    max-width: 960px;
    max-height: 500px;
    background-color: #fff;
    width: 100%;
    height: 100%;

    border-radius: 2em; /*controlar el borde en una sola linea de codigo*/
}

/*td{
    border: solid 1px;
}*/

a{
    text-decoration: none; /*Controlar la linea referenciada*/
    color: red;
}

.title{
    text-transform: uppercase; /*controlar el texto (mayus, minus, etc)*/
}

.parrafo{
    line-height: 30px;
    font-weight: 200;
}

.table-1{
    width: 100%;
    border-spacing: 0;
}

.table-1 td, .table-1 th{
    padding: 1em;
    text-align: left;
}

.table-1 tr:nth-child(even){
    background-color:  #cfd8dc;
}

.material-icons{
    color: red;
}

.title{
    border-bottom: #434343 solid 4px;
    padding: 1em;
}

